<div class="flex flex-col">

    <ng-container *ngIf="logged && loaded">Questa pagina è visibile solo agli utenti esterni al sistema</ng-container>

    <ng-container *ngIf="!logged && loaded">
        <app-preview 
    [brand]="brand" 
    [companyName]="companyName" 
    [companyLogo]="companyLogo" 
    [primary_color]="primary_color" 
    [materials]="materials" 
    [containers]="containers" 
    [packages]="packages" 
    [ingredients]="ingredients" 
    [types]="types" 
    [geoGraphicalIndication]="geographical_indication"
    [preview_image]="preview_image" 
    [preview]="true"
    [sub_image]="sub_image" 
    [form]="form" class="col-12 lg:col-4 xl:col-3"></app-preview>
    </ng-container>
</div>